body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}